# Sample mumblebot config file
#
# Copyright (c) 2013, Stuart McMurray
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of the <organization> nor the
#       names of its contributors may be used to endorse or promote products
#       derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# See https://code.google.com/p/mumblebot/wiki/Configuration for more info or
# run mumblebot -h for a description of the options
#
# Any configurable option that needs to be different than the default will
# need to have it's leading # removed.
# 
# For most people, most of the defaults, with the exception of "server" will
# probably be fine most of the time.  "username" should probably be changed.


# The server to which to connect
# server mumble.foo.com
# server 192.168.1.24
# server 2601:a:4400:9f:149c:baff:fe58:f963

# The port on the mumble server to which to connect
# port 64738

# The local IP Address to use
# srcip 192.168.1.15

# The port from which to connect
# srcport 1337

# How long to wait to connect
# timeout 10

# Use Syslog instead of stdout/err
# syslog True

# Output debugging messages
# debug True

# The username mumblebot will use
# username mumblebot

# The password for the server
# password supersecretpassword

# Output a list of users and exit
# printusers 1

# Output a list of channels and exit
# printchannels 1

# The character to trigger mumblebot to process a message
# trigger !

# The scripts' working directory
# scriptwd /

# The directory the scripts are in
# scriptdir /etc/mumblebot.d

# The channel to join
# channel 0
